{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock page_header %}

{% block content %}

 <!-- Contact Us Section form from Bootsnip - https://bootsnipp.com/snippets/Q0k96 -->
 <section class="Material-contact-section section-padding section-dark">
    <div class="container">
        <div class="row">
            <!-- Section Titile -->
            <div class="col-md-12 wow">
                <h2 class="mt-5">Get In Touch</h2>
            </div>
        </div>
        <div class="row">
            <!-- Section Title -->
            <div class="col-md-6 mt-3 contact-widget-section2 wow">
              <p>Have a question about your order? Need help with buying a product or logging in? Whatever
                your question we are here to help. You can check out our frequently asked questions (FAQ)
                below or complete the contact form and we will be in touch within two working days.
              </p>
            </div>
            <!-- contact form -->
                 <!-- Contact Form  inserted here -->
                 <!-- <form action="{% url 'contact'%}" method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-success">Send message</button>
                </form> -->
            <div class="col-md-6 wow animated fadeInRight" data-wow-delay=".2s">
                <form class="shake" role="form" method="post" id="contactForm" name="contact-form" data-toggle="validator">
                    <!-- Name -->
                    <div class="form-group label-floating">
                      <label class="control-label" for="name">Full Name</label>
                      <input class="form-control" id="name" type="text" name="name" required data-error="Please enter your name">
                      <div class="help-block with-errors"></div>
                    </div>
                    <!-- email -->
                    <div class="form-group label-floating">
                      <label class="control-label" for="email">Email</label>
                      <input class="form-control" id="email" type="email" name="email" required data-error="Please enter your Email">
                      <div class="help-block with-errors"></div>
                    </div>
                    <!-- Subject -->
                    <div class="form-group label-floating">
                      <label class="control-label">Subject</label>
                      <input class="form-control" id="msg_subject" type="text" name="subject" required data-error="Please enter your message subject">
                      <div class="help-block with-errors"></div>
                    </div>
                    <!-- Message -->
                    <div class="form-group label-floating">
                        <label for="message" class="control-label">Message</label>
                        <textarea class="form-control" rows="3" id="message" name="message" required data-error="Write your message"></textarea>
                        <div class="help-block with-errors"></div>
                    </div>
                    <!-- Form Submit -->
                    <div class="form-submit mt-5">
                        <button class="btn btn-outline-dark" type="submit" id="form-submit"><i class="material-icons mdi mdi-message-outline"></i> Send Message</button>
                        <div id="msgSubmit" class="h3 text-center hidden"></div>
                        <div class="clearfix"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </section>
<div class="container mt-5 mb-7">
        <h2>Frequently Asked Questions</h2>
  
    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true">     
                <span class="title">How much does delivery cost? </span>
                <span class="accicon"><i class="fas fa-angle-down rotate-icon"></i></span>
            </div>
            <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                <div class="card-body">
                    <p><strong>Orders over &#163;40.00 are free</p></strong>
                    <p>Deliveries within the UK and Ireland are charged at 10% of your total order, so if your order is &#163;30.00 delivery will be £3</p>
                    <p>Deliveries for the rest of the world are charged at 10% of your total order, so if your order is &#163;30.00 delivery will be £3.
                    </p>
                    </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">     
                <span class="title">How quickly will I receive my order?</span>
                <span class="accicon"><i class="fas fa-angle-down rotate-icon"></i></span>
            </div>
            <div id="collapseTwo" class="collapse" data-parent="#accordionExample">
                <div class="card-body">
                    <p><strong>Deliveries within the UK and Ireland:</p></strong>
                    <p>Most orders will be delivered within 3 working days, excluding weekends, as they are sent first class. 
                    Once your order has been despatched you will receive an email notification with the tracking number.
                    If you have provided a mobile number you will receive a text
                    message on the day giving you a delivery time slot of either 8am-2pm or 2pm-7pm. </p>
                    

                <p>If you have opted to deliver your order to a country other than the UK and Ireland, the delivery times will vary
                    but you will still receive an email notification with the tracking number once your order has been despatched.</p>

                    <p> UK – within 3 working days</p>
                    <p>  Europe – within 5 working days</p>
                    <p>  USA & Canada – within 7-10 working days</p>
                    <p> Rest of World – within 12 working days</p>

                    <p>  If you haven't received your order within the above timeframe complete the contact form above and we will
                    look into it for you. To ensure we find your order quickly please provide the order number and date of order.</p>
                    </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false">
                <span class="title">My product is damaged, what should I do?</span>
                <span class="accicon"><i class="fas fa-angle-down rotate-icon"></i></span>
            </div>
            <div id="collapseThree" class="collapse" data-parent="#accordionExample">
                <div class="card-body">
                    We pride ourselves on looking after our customers and never want you to have to tolerate a product
                    that isn't as good as it could be.
                    Please take a photo and/or video using your mobile phone and send it in to us via email at
                    posters@posterpalace.com. If the damage
                    has been caused by us and/or our couriers we will of course replace it immediately at no extra
                    charge.
                    </div>
            </div>
        </div>
        
    </div>
</div>
<br>
{% endblock content %}