{% load static %}

<!-- Featured Section-->
<section class="pb-5">
    <h2 class="display-8 logo-font text-black text-center">
        Posters Designed by Our Community
    </h2>
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-3 row-cols-1 row-cols-md-2 row-cols-xl-4 justify-content-center">
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <a href="{% url 'product_detail' product_id=12 %}">
                        <img class="card-img-top" src="{% static 'images/love-berry-much.webp' %}" alt="love you poster"  loading="lazy" />
                    </a>
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <p>Berry Love</p>
                            <!-- Product price-->
                            &#163;19.95
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-black mt-auto" href="{% url 'product_detail' product_id=12 %}">View Poster</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <a href="{% url 'product_detail' product_id=10 %}">
                        <img class="card-img-top" src="{% static 'images/bright-winner-poster.webp' %}" alt="bright nature poster"  loading="lazy" />
                    </a>
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <p>Bright Nature</p>
                            <!-- Product price-->
                            &#163;27.95
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-black mt-auto" href="{% url 'product_detail' product_id=10 %}">View Poster</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- badge-->
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">New</div>
                    <!-- Product image-->
                    <a href="{% url 'product_detail' product_id=2 %}">
                        <img class="card-img-top" src="{% static 'images/purple-plant-xl-poster.webp' %}" alt="purple plant poster" loading="lazy" />
                    </a>
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <p>Purple Plant</p>
                            <!-- Product price-->
                            &#163;32.95
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-black mt-auto" href="{% url 'product_detail' product_id=2 %}">View Poster</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <a href="{% url 'product_detail' product_id=14 %}">
                        <img class="card-img-top" src="{% static 'images/daisy-ned-poster.webp' %}" alt="Daisy & Ned poster" loading="lazy" />
                    </a>
                    <!-- Sale badge-->
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Top Seller</div>
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <p>Daisy & Ned</p>
                            <!-- Product price-->
                            &#163;19.95
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-black mt-auto" href="{% url 'product_detail' product_id=14 %}">View Poster</a></div>
                    </div>
                </div>
            </div>
</section>

<!-- New Arrivals Section end-->