<!--Website structure and design taken from CI 
    Boutique Ado https://github.com/ckz8780/boutique_ado_v1 -->
    
{% extends "base.html" %}
{% load static %}

{% block title %}
Poster Palace
{% endblock title%}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<!-- Home Page information box start-->
<div class="background-image-container d-flex align-items-center justify-content-center">
    <div class="container mt-3">
        <div class="d-flex align-items-center justify-content-center">
            <div class="col-md-12 shadow-sm bg-white text-center px-3 pt-3 py-3">
                <h1 class="display-4 logo-font">Poster Palace</h1>
                <h2 class="display-6">Beautify your room. Uplift your spirit.</h2>
                <p>At Poster Palace you can buy beautiful posters online for all rooms in large and extra large sizes.
                    Shop our collection of stunning wall art printed on high quality, eco-friendly sustainable materials. 
                    They have been designed for customers looking for unique and impactful posters.
                </p>
                    <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
            </div>
        </div>
    </div>
</div>
<!-- Home Page information box end-->

{% include "home/portfolio-section.html" %}

{% include "home/quality-section.html" %}

{% include "home/order-section.html" %}

{% include "home/featured.html" %}
                        
{% endblock %}