<!-- 3 box info section start -->
<div class="services py-2" id="services">
  <div class="container-lg py-4">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <!-- You can add content here if needed -->
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="service-item shadow-sm p-3 rounded bg-white">
          <div class="icon my-3 fs-2">
            <i class="fa-solid fa-lock"></i>
          </div>
          <p class='fs-5 py-2'>Secure Shopping</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="service-item shadow-sm p-3 rounded bg-white">
          <div class="icon my-3 fs-2">
            <i class="fa-solid fa-tag"></i>
          </div>
          <p class='fs-5 py-2'>Extra-Large Sizes</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="service-item shadow-sm p-3 rounded bg-white">
          <div class="icon my-3 fs-2">
            <i class="fa-solid fa-truck-fast"></i>
          </div>
          <p class='fs-5 py-2'>Delivered Within Days</p> 
        </div>
      </div>            
    </div>
  </div>
</div>
<!-- info section end -->
