{% load static %}

<!-- Product display section starts -->
<div class="container">
    <h2 class="display-8 logo-font text-black text-center mt-5">
        Recently Added Posters
    </h2>
    <div class="row">

        {% for product in products %}
        <div class="col-sm-4 col-md-6 col-lg-3 col-xl-3 mt-3">
            <div class="card h-100 border-0">
                <!-- Product Image -->
                {% if product.image %}
                <a href="{% url 'product_detail' product.id %}">
                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
                {% else %}
                <a href="{% url 'product_detail' product.id %}">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                </a>
                {% endif %}

                <!-- Product Details -->
                <div class="card-body pb-0">
                    <p class="mb-0">{{ product.name }}</p>
                </div>

                <!-- Product Footer -->
                <div class="card-footer bg-white pt-0 border-0 text-left">
                    <div class="row">
                        <div class="col">
                            <!-- Product Price -->
                            <p class="lead mb-0 text-left font-weight-bold">&#163;{{ product.price }}</p>

                            <!-- Product Category -->
                            {% if product.category %}
                            <p class="small mt-1 mb-0">
                                <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                                    <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                                </a>
                            </p>
                            {% endif %}

                            <!-- Product Rating -->
                            {% if product.averageReview > 0 %}
                            <small class="text-muted">
                                <i class="fa-solid fa-star mr-1"></i>
                                {{ product.averageReview }} / 5
                                based on {{ product.countReview }} review(s)
                            </small>
                        {% else %}
                            <small class="text-muted">No Rating</small>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- Product display section ends -->
