{% extends "base.html" %}
{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container" style="background-color: white;">
  <div class="row">
    <div class="col">
      <h1 class="logo-font text-center my-4">Returns and Refund Policy</h1>
      <hr>
      <p class="text-center text-muted">Last updated 01 December 2023</p>
    </div>
  </div>
</div>
<div class="container mb-5" style="background-color: white;">
  <p>This Returns and Refund Policy is part of our Terms of Service ("Terms") and should be therefore read alongside
    our main Terms: <a href="{% url 'terms' %}">Terms Of Service</a></p>
    <p><strong>HOW CAN I MAKE A RETURN?</strong>
    <p>We accept returns on un-used product(s) sent back in the original condition with the original packaging. We
        allow up to 30 days from the delivery date. Please contact customer services to receive the return address.
        You are responsible for the cost of your returns. </p>
    <p>Returns are typically processed within 1-2 working days of receiving the product. If you have any questions
        please contact us through our email or contact page. </p>
    <p>We will notify you once we have refunded your payment. Payment will be made to the original method of
        payment. Please note this may take up to 10 working days depending on your provider. </p>
    <p>This does not affect your statutory rights. </p>
    <p>If you have any further questions or comments, you may contact us using our: Online Contact Form <a
        href="{% url 'contact' %}">HERE</a></p>
    <br>
  </div>
  {% endblock %}