{% extends "base.html" %}
{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container" style="background-color: white;">
  <div class="row">
    <div class="col">
      <h1 class="logo-font text-center my-4">Terms of Service Policy</h1>
      <hr>
      <p class="text-center text-muted">Last updated 11 December 2023</p>
    </div>
  </div>
</div>
<div class="container mb-5" style="background-color: white;">
    <p>This World Wide Website (www) (the "site") is operated by Poster Palace, (“us” or “we”). These conditions of use
        are governed by the laws of England and Wales and you agree that the English courts shall have exclusive
        jurisdiction in any dispute. </p>
    <p>Please read our conditions of use carefully as by using the website you will be taken to have agreed to be bound
        by them. We reserve the right to vary the conditions of use at any time and will post any variations here. You
        are advised to review the conditions of use on a regular basis as you will be deemed to have accepted variations
        if you continue to use the website after they have been posted. Poster Palace takes every care and precaution to
        ensure that information published on this website is accurate when posted and regularly updated, but we cannot
        guarantee its accuracy and may change the information at any time without notice. </p>
    <p>WE PUBLISH THE WEBSITE "AS IS" WITHOUT ANY WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, AS TO THE OPERATION OF OUR
        SITE, THE ACCURACY OF THE INFORMATION OR THE PRODUCTS OR SERVICES REFERRED TO ON THE WEBSITE (INSOFAR AS SUCH
        WARRANTIES MAY BE EXCLUDED UNDER ANY RELEVANT LAW) AND WE SHALL NOT BE LIABLE FOR ANY LOSSES OR DAMAGES THAT MAY
        RESULT FROM USE OF THE IR/ WEBSITE AS A CONSEQUENCE OF ANY INACCURACIES IN, OR ANY OMISSIONS FROM, THE
        INFORMATION WHICH IT MAY CONTAIN. </p>
    <p>You are not required to register your details with us in order to browse the vast majority of our website. If you
        visit an area or page which requires a login you will be given information on how to register and access content
        unless this is restricted content. Before registering your details please ensure you have read all legal
        documentation available on the site regarding data protection and policies. </p>
    <p>Any registration details should be per user and not shared with multiple users or parties. </p>
    <p>Intellectual property</p>
    <p>The copyright notice which is displayed in this site indicates that all materials within the site are the
        intellectual property of Poster Palace. All materials, content and forms contained on this website are the
        intellectual property of Poster Palace and may not be copied, reproduced, distributed or displayed without
        Poster Palace's express written permission. However, you may print complete pages of the site as hard copies for
        your own personal use. <p>
            <p>Accuracy of information</p>
            <p>Whilst Poster Palace uses reasonable endeavours to ensure that the contents of this site are accurate and
                up to date, it does not accept any liability for any information which may not be accurate. Poster
                Palace is reliant upon third parties for much of the information provided (see below) and reserves the
                right to change data, references and product specifications at any time. </p>
            <p>The contents of this site are for general information and public relations purposes only and do not
                purport to provide advice, make any offer or otherwise create or lead to the creation of any legally
                enforceable relationship between Poster Palace and you. No reliance should be placed on any statements
                made on the site. Poster Palace excludes to the fullest extent permitted by law all liability resulting
                from your access to the site including (without limitation) any loss (financial or otherwise) or damage
                resulting directly or indirectly from any such reliance. Poster Palace does not guarantee that the
                website, or any content on it, will always be available or access to it will be uninterrupted. Access to
                the website is permitted on a temporary basis. We may suspend, withdraw, discontinue or change all or
                any part of the website without notice. We will not be liable to you if for any reason the website is
                unavailable at any time or for any period. </p>
            <p>You are responsible for making all arrangements necessary for you to have access to the website. </p>
            <p>You are also responsible for ensuring that any persons with access to the website through your internet
                connection are aware of these terms of use, and that they comply with them. </p>
            <p>Certain hypertext links contained in this site will direct you to websites which are not under the
                control of Poster Palace. Such links are included for your convenience and do not constitute an
                endorsement by Poster Palace third-party products or services. Selection of a link will take you out of
                this site to other websites which Poster Palace has no control over and may represent views or opinions
                not held by Poster Palace. Poster Palace accepts no liability or responsibility whatsoever for any other
                websites which may be accessed through the Poster Palace website. </p>
            <p>If you have any further questions or comments, you may contact us using our: Online Contact Form <a
                    href="{% url 'contact' %}">HERE</a></p>
            <br>
</div>
{% endblock %}
