 <!-- choosing posters article-->
<div class="overlay"></div>
    <div class="container-fluid  col-10">
        <h2 class="display-8 logo-font text-black text-center my-4">Choosing A Poster</h2>
            <div class="card border-0 shadow rounded-3 overflow-hidden">
                <div class="card-body p-0">
                    <div class="row gx-0">
                        <div class="p-4 p-md-5">
                            <p>Affordable wall art sets almost any room up for good vibes if you make the right selection. Popular poster styles 
                                for different spaces can vary based on the aesthetic you want to achieve.
                            </p>

                            <p>For those who are more traditional or who enjoy vintage spaces, retro posters with a classic look will help align with
                                the overall traditional look and feel of a room.
                            </p>

                            <p> Modern and minimalist rooms benefit from posters with simple designs and little colour. Abstract art, inspirational and
                                motivational quotes in sleek typography really complement this style.
                            </p>

                            <p>If you love bright colours or a more bohemian style, posters with bold colors, playful artistic designs, or vibrant
                                patterns can add personality and bring a real uplifting vibe to the room.
                            </p>
                            <p>For office spaces, whether home office or office building, a poster with a quote you love
                            can be a perfect choice. Also consider quirky, bright and artwork that reflects your
                            interests or business brand.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>

