{% load crispy_forms_tags %}


<div class="col-12 col-md-8">
    <form class="mb-3" action="{% url 'add-review' product.id %}" method="POST">
        {% csrf_token %}
        <div class="form-floating mb-2">
            {{ rating|crispy }}
            <label for="{{ rating.id_for_label }}" class="form-label">Rating:*</label>
            {% for error in review.rating.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-floating mb-2">
            {{ review|crispy }}
            <label for="{{ review.id_for_label }}" class="form-label">Review*</label>
            {% for error in review.review.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-black rounded-0 text-uppercase mt-5">Submit</button>
    </form>
</div>
