{% extends "base.html" %}
{% load static %}


{% block title %}
Confirm Deletion Request
{% endblock title %}
{% block content %}

<div class="container my-5">
    <div class="row d-flex justify-content-center">
        <div class="col-10 col-md-7 col-lg-6 custom-border py-4 text-center">
            <h4>Delete Your Review</h4>
            <form action="{% url 'delete-review' review.id %}" method="POST">
                {% csrf_token %}
                <p class="mt-3">Are you sure you want to delete your review?</p>
                <a href="{% url 'product' product.id %}" class="btn btn-gray">Back</a>
                <button class="btn btn-danger" type="submit">Delete</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}