<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sort Posters
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=desc" class="dropdown-item">By Price  <i class="text-end fa-solid fa-signal fa-flip-horizontal"></i></a>
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price  <i class="text-end fa-solid fa-signal"></i></a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category  <i class="fa-solid fa-arrow-down-a-z"></i></a>
                <a href="{% url 'products' %}?sort=category&direction=desc" class="dropdown-item ">By Category  <i class="fa-solid fa-arrow-down-z-a"></i></a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Posters
            </a>
            <div class="dropdown-menu border-0" aria-label="poster-link">
                <a href="{% url 'products' %}?category=abstract" class="dropdown-item">Abstract</a>
                <a href="{% url 'products' %}?category=bright" class="dropdown-item">Bright</a>
                <a href="{% url 'products' %}?category=children" class="dropdown-item">Children</a>
                <a href="{% url 'products' %}?category=love" class="dropdown-item">Love</a>
                <a href="{% url 'products' %}?category=inspirational" class="dropdown-item">Inspirational</a>
                <a href="{% url 'products' %}?category=nature" class="dropdown-item">Nature</a>
                <a href="{% url 'products' %}?category=zodiac" class="dropdown-item">Zodiac</a>
                <a href="{% url 'products' %}?category=new,clearance,deals,abstract,children,inspirational,love,bright,zodiac,nature" class="dropdown-item">All Posters</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=new" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'products' %}?category=deals" class="dropdown-item">Deals</a>
                <a href="{% url 'products' %}?category=clearance" class="dropdown-item">Clearance</a>
                <a href="{% url 'products' %}?category=new,deals,clearance" class="dropdown-item">All Specials</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                More...
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'about' %}" class="dropdown-item">About</a>
                <a href="{% url 'contact' %}"  class="dropdown-item">Contact us</a>
                <a href="{% url 'subscription' %}" class="dropdown-item">Newsletter</a>
                <a href="{% url 'poster_event' %}" class="dropdown-item">Diverse Design Event</a>
            </div>
        </li>
    </ul>
</div>