{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

<div class="col-10 my-5">

    <h1 class="logo-font mb-4 text-center">Error 404 - Something Went Wrong!</h1>
    <p class="display-3 my-3 text-center">The link you clicked is either expired, has been deleted or just can't be found! 
        Click the button below to go back to our home page or poster shop.
    </p>

    <p><a class="btn btn-outline-black rounded-0 my-5" href="{% url 'home' %}">Return to Home Page</a> </p>
    
        <p> <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 mt-5">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Back To Shop</span>
            </a>
        </p>
    
    
</div>
{% block content %}

{% endblock %}