{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock page_header %}

{% block content %}
<!--Contact us page content-->
<div class="container-fluid col-10">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Contact Us/Help</li>
        </ol>
    </nav>
</div>
<div class="overlay"></div>
<div class="container-fluid my-5 col-10">
    <div class="row mb-3">
        <div class="col-12 col-md-6 mt-3">
            <h1 class="logo-font my-4">Contact Us</h1>
        </div>
        <p class="pl-4">Need help? Whether you need help with an order or with using the site, complete the form below and we will get back to you.
            If you have a suggestion or just want to get in touch, that's great too.
        </p>
    </div>

    <form action="" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-black rounded-0" type="submit" id="form-submit">Send Message</button>
    </form>
</div>
 {% endblock content %}