{% extends "base.html" %}
{% load static %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<!--Terms and conditions of events-->
<section class="terms">
    <div class="container-fluid col-10">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Terms & Conditions</li>
            </ol>
        </nav>
    </div>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-10 custom-border py-4">
                <h1 class="text-center">Diverse Design Events</h1>

                <h2 class="display-8 logo-font text-black text-center">Terms and Conditions</h2>


        <p class="text-black">Thank you, for your interest in our events. Participation in
            any Poster Palace event means you agree to abide by these terms and conditions.
        </p>
        <div class="container mt-5">

            <div class="mb-4">
                <h5 class="font-weight-bold">1. Eligibility:</h5>
                <p>- The Poster Palace Diverse Design Event ("the Event") is open to individuals and groups of 3-5 people.</p>
                <p>- The event is hosted and promoted via our newsletter so only subscribers will find out about upcoming events.</p>
                <p>- Participants must be 18 years or older to enter.</p>
            </div>
        
            <div class="mb-4">
                <h5 class="font-weight-bold">2. Entry Submissions:</h5>
                <p>- Each participant or group may submit up to three different designs for consideration.</p>
                <p>- All designs must be original works, free of any licenses or copyright restrictions.</p>
            </div>
        
            <div class="mb-4">
                <h5 class="font-weight-bold">3. Prizes:</h5>
                <p>- Cash prizes for the Event will be determined and announced by Poster Palace at the time of the event.</p>
                <p>- All cash prizes are final, and no additional cash payments will be made.</p>
            </div>
        
            <div class="mb-4">
                <h5 class="font-weight-bold">4. Ownership of Designs:</h5>
                <p>- Winning designs become the property of Poster Palace.</p>
                <p>- Poster Palace reserves the right to use, reproduce, and display winning designs for promotional purposes without additional compensation to the participants.</p>
            </div>
        
            <div class="mb-4">
                <h5 class="font-weight-bold">5. Social Media Display:</h5>
                <p>- Poster Palace will choose which designs to display on its social media pages.</p>
                <p>- All decisions regarding the selection of designs are final.</p>
            </div>
        
            <div class="mb-4">
                <h5 class="font-weight-bold">6. Voting Process:</h5>
                <p>- Participants can encourage family and friends to vote for their poster on Poster Palace's social media page.</p>
                <p>- The individual and group posters with the most votes will be declared the winners.</p>
            </div>
        
            <div class="mb-4">
                <h5 class="font-weight-bold">7. Responsibility and Liability:</h5>
                <p>- Poster Palace will not be held responsible for any copyright infringements or legal issues related to the submitted designs.</p>
                <p>- Participants are solely responsible for ensuring that their entries do not violate any intellectual property rights.</p>
            </div>
        
            <div class="mb-4">
                <h5 class="font-weight-bold">8. Disqualification:</h5>
                <p>- Poster Palace reserves the right to disqualify any participant or entry that violates the terms and conditions or engages in any form of misconduct.</p>
            </div>
        
            <div class="mb-4">
                <h5 class="font-weight-bold">9. Modification of Terms:</h5>
                <p>- Poster Palace reserves the right to modify these terms and conditions at any time. Participants will be notified of any changes.</p>
            </div>
        
            <div class="mb-4">
                <h5 class="font-weight-bold">10. Acceptance of Terms:</h5>
                <p>- By participating in the Poster Palace Diverse Design Event, participants agree to abide by these terms and conditions.</p>
                <p>- If you have any questions please <a href="{% url 'contact' %}">Contact Us HERE.</a></p>
            </div>
        </div>
        <!--back to events page button-->       
        <a href="{% url 'poster_event' %}" class="btn btn-outline-black rounded-0 mt-3">
            <span class="icon"><i class="fas fa-chevron-left"></i></span>
            <span class="text-uppercase">Back To Events Page</span>
        </a>
    </div>
</div>
    </div>         
{% endblock %}
