{% load static %}
 <!-- Event Updates Page Content-->
 <div class="overlay"></div>
 <div class="container-fluid my-5 col-10">
    <h2 class="display-8 logo-font text-black text-center">November 2023 Winners</h2>
        <div class="card border-0 shadow rounded-3 overflow-hidden">
            <div class="card-body p-0">
                <div class="row gx-0">
                    <div class="col-lg-6 col-xl-5 py-lg-5">
                        <div class="p-4 p-md-5">
                            <div class="h2 fw-bolder">Empowerment Elevation</div>
                            <p>2024 Unleashed Through Inspirational Posters</p>
                            <p>Our recent Diverse Design event was a huge success. We had a lot of fun receiving
                                and going through all the different entries and deciding which ones to promote on our
                                social media page so you can vote.
                                We had a total of 234 entries from 12 different countries.
                                An increase of 40% on our last event a few months ago.
                            </p>
                            <p>Click the link below to read about our winners</p>
                            <a class="stretched-link text-decoration-none" href="https://www.canva.com/design/DAF3uqhD65Y/iSDvZb0f6r-yHmMw7Z8hBg/view" target="_blank">
                                November 2023 Winners PDF
                                
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-7 text-center">
                        <img src="{% static 'images/diverse-design-winner-2024.png' %}" class="img-fluid  mx-auto" alt="diverse design event winner">
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-5 bg-light">
    <div class="container px-5">
        <div class="row gx-5">
            <div class="col-xl-8 text-center">
                <h3 class="display-8 logo-font text-black text-center">Terms and Conditions</h3>
                <p class="text-center">Before taking part in this event please read our </p>
                <!-- Terms and Conditions item-->
                <div class="mb-4">
                    <a class="link-dark" href="{% url 'event_terms' %}"><h4>Full Terms and Conditions Here</h4></a>
                    <div class="small text-muted text-center">UPDATED: November 16, 2023</div>
                </div>
        </div>
    </div>
</section>
<!-- Past Winners section-->
<section class="py-5">
    <div class="container px-5">
        <h2 class="display-8 logo-font text-black text-center">Past Winners</h2>
        <div class="row gx-5">
            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0">
                    <img class="card-img-top" src="{% static 'images/love-berry-much.png' %}" alt="Spring event winner" />
                    <div class="card-body p-4">
                        <a class="text-decoration-none link-dark stretched-link" href="{% url 'product_detail' product_id=12 %}"><div class="h5 card-title mb-3">Love You Berry Much</div></a>
                        <p class="card-text mb-0">Our Valentine event for Spring 2023 saw 112 people submit designs and this was our individual winner.</p>
                    </div>
                    <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                        <div class="d-flex align-items-end justify-content-between">
                            <div class="d-flex align-items-center">                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0">
                    <img class="card-img-top" src="{% static 'images/bright-winner-poster.png' %}" alt="burst of colour poster" />
                    <div class="card-body p-4">
                        <a class="text-decoration-none link-dark stretched-link" href="{% url 'product_detail' product_id=10 %}"><div class="h5 card-title mb-3">Burst of Colours</div></a>
                        <p class="card-text mb-0">Winner of the Spring 2023 group submission was this amazing burst of colour.</p>
                    </div>
                    <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                        <div class="d-flex align-items-end justify-content-between">
                            <div class="d-flex align-items-center">
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0">
                    <img class="card-img-top" src="{% static 'images/daisy-ned-poster.png' %}" alt="daisy and Ned poster" />
                    <div class="card-body p-4">
                        <a class="text-decoration-none link-dark stretched-link" href="{% url 'product_detail' product_id=14 %}"><div class="h5 card-title mb-3">Daisy & Ned</div></a>
                        <p class="card-text mb-0">Daisy and her best friend Ned the Giraffe came in close with the votes and won our hearts.</p>
                    </div>
                    <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                        <div class="d-flex align-items-end justify-content-between">
                            <div class="d-flex align-items-center">
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

