{% extends "base.html" %}
{% load static %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container my-5">
                    <a class="text-decoration-none link-dark stretched-link" href="{% url 'product_detail' product_id=1 %}">
                        <img src="{% static 'images/freedom-to-love-lgbtq-poster.png' %}" class="img-fluid py-3" alt="buy poster online image">
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="product-details-container mb-5 mt-md-5">
                    <div class="col-12 col-md-6 mt-5">
            
                        <h1 class="logo-font mb-4">Newsletter</h1>
                        
                    </div>
                    <p class="pl-4">Join the Poster Palace newsletter tribe and enjoy surprise money-off coupons and exclusive
                        offers.
                        Take part in our regular <a href="{% url 'poster_event' %}">'Poster Palace Diverse Design'</a> events and win prizes
                        along with an opportunity to have your work featured in our store and on our social media page.
                    </p>
                    <p class="pl-4">
                        Rest assured, subscribing to our newsletter is hassle-free, and there's no 
                        commitment so you can easily unsubscribe at any time. Your privacy is important to us, 
                        and we never sell or share your details with third parties.
                    </p>
                <!--Email subscription Form -->
                <div id="mc_embed_shell">
                    <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
                <style type="text/css">
                      #mc_embed_signup{background:#fff; false;clear:left; font:14px Helvetica,Arial,sans-serif; width: 600px;}
                      /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
                         We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
              </style>
              <div id="mc_embed_signup">
                  <form action="https://gmail.us12.list-manage.com/subscribe/post?u=5f79d1cd08f0a4ccfbb4e453f&amp;id=6c38025880&amp;f_id=001c61e0f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                      <div id="mc_embed_signup_scroll"><h2>Subscribe</h2>
                          <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                          <div class="mc-field-group"><label for="mce-EMAIL">Email Address <span class="asterisk">*</span></label><input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value=""><span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span></div>
                      <div id="mce-responses" class="clear foot">
                          <div class="response" id="mce-error-response" style="display: none;"></div>
                          <div class="response" id="mce-success-response" style="display: none;"></div>
                      </div>
                  <div aria-hidden="true" style="position: absolute; left: -5000px;">
                      /* real people should not fill this in and expect good things - do not remove this or risk form bot signups */
                      <input type="text" name="b_5f79d1cd08f0a4ccfbb4e453f_6c38025880" tabindex="-1" value="">
                  </div>
                      <div class="optionalParent">
                          <div class="clear foot">
                              <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe">
                              <p style="margin: 0px auto;"><a href="http://eepurl.com/iGITBk" title="Mailchimp - email marketing made easy and fun"><span style="display: inline-block; background-color: transparent; border-radius: 4px;"><img class="refferal_badge" src="https://digitalasset.intuit.com/render/content/dam/intuit/mc-fe/en_us/images/intuit-mc-rewards-text-dark.svg" alt="Intuit Mailchimp" style="width: 220px; height: 40px; display: flex; padding: 2px 0px; justify-content: center; align-items: center;"></span></a></p>
                          </div>
                      </div>
                  </div>
              </form>
              </div>
              <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script><script type="text/javascript">(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script></div>
              
                    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 mt-3">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Start Shopping</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}
